DATABASE_URL="postgresql://user:password@localhost:5432/team_task_manager"
JWT_SECRET="your-super-secret-jwt-key-minimum-32-characters-long"
CLIENT_URL="http://localhost:5173"
PORT=3001
NODE_ENV=development
